<%- include("components/header") %>
<header>
    <%- include("components/nav") %>
</header>
<main>
    <%- include("components/main-parallax") %>
    <%- include("components/Note-taking") %>
    <%- include("components/add-note") %>
    <%- include("components/edit-note") %>
    <%- include("components/notes-table") %>
    <%- include("components/view-one") %>
    <%- include("components/floating-btns") %>
</main>
<%- include("components/footer") %>